.container {
  margin-bottom: var(--spacing-xl);
}

.input {
  width: 100%;
  padding: 0.75rem 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-size-base);
  outline: none;
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 393px) {
  .input {
    font-size: var(--font-size-sm);
    padding: 0.5rem 0;
  }
}
