.loadingBar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--border-color);
  z-index: 9999;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: var(--foreground);
  animation: loading 1.5s ease-in-out infinite;
  width: 30%;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}
