.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
}

.container {
  padding: 1.25rem var(--spacing-xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logoImage {
  height: 20px;
  width: auto;
}

.cartLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--foreground);
  font-size: var(--font-size-base);
}

.cartIcon {
  width: 20px;
  height: 20px;
}
